{% extends 'user/layout1.html'%}
{% block title%} Contac us {% endblock %}

{% block statement%}
    <h1 class="display-3 color1">Mary & John's</h1>
    <h1 class="display-4 color2 mb-3">Wedding invitation</h1>                
    <p class="lead color2">
        We are delighted to announce that Mary & John are officially tying the knot!
        Please login to see more details!
    </p>
    <h1 class="display-4 color1 my-3">Login form</h1>
{% endblock %}


{% block form %}
<div class="d-flex btn-group">
    <a href="/signup" class="btn btn-lg color3 d-inline-block" style="border:2px solid #a8c868;">Signup</a>
    <a href="/login" class="btn btn-lg d-inline-block" style="background-color: #a8c868;color:#fff;">Home</a>
</div>
    <form action="/submission" method="post">
        
        
        <div class="form-floating my-3">
            
            <span class="text-danger">{{cform.fullname.errors}}</span>
           {{cform.fullname(class_="form-control form-control-lg", placeholder = 'fullname', style="background-color:rgba(0, 0,0, 0.5);border: 1px solid #a8c868; color:#fff;")}} 
           
        </div>
        <div class="form-floating my-3">
            <span class="text-danger">{{cform.email.errors}}</span>
            {{cform.email(class_="form-control form-control-lg", placeholder = 'email', style="background-color:rgba(0, 0,0, 0.5);border: 1px solid #a8c868; color:#fff;")}} 
            
         </div>
         <div class="form-floating my-3">
            {{cform.message(class_="form-control form-control-lg", placeholder = 'message here',style="background-color:rgba(0, 0,0, 0.5);border: 1px solid #a8c868; color:#fff;")}} 
            {{cform.csrf_token}}
         </div>
         <div class="form-floating my-3">
            
         </div>
        <div class="d-flex btn-group">
            {{cform.submit(class="btn btn-lg color3 d-inline-block", style="border:2px solid #a8c868;")}} 
            
        </div>
    </form>
{% endblock %}