{% extends 'user/layout1.html'%}
{% block statement %}
{% include 'user/nav.html'%}
{% endblock statement %}
{% block form %}
    <form action="" method="post">
        <div class="form-floating my-3">
            <input type="text" name="fname" id="user" placeholder="edit your username" class="form-control form-control-lg" style="background-color:rgba(0, 0,0, 0.5);border: 1px solid #a8c868; color:#fff;">
        </div>
        <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
        <div class="form-floating my-3">
            <input type="text" name="lname" id="lname" placeholder="edit your lastname" class="form-control form-control-lg" style="background-color:rgba(0, 0,0, 0.5);border: 1px solid #a8c868; color:#fff;">
        </div>
        <textarea name="address" placeholder="edit your address" class="form-control form-control-lg" style="background-color:rgba(0, 0,0, 0.5);border: 1px solid #a8c868; color:#fff;" ></textarea>
        <div class="d-flex btn-group">
            <button class="btn btn-lg color3 d-inline-block" style="border:2px solid #a8c868;">update</button>
        </div>
    </form>
{% endblock %}