{% extends 'user/layout1.html'%}
{% block statement %}
<p class="display-4 color1">Welcome,  </p>
{% include 'user/nav.html'%}
{% endblock statement %}
{% block form %}
    <p id='now'class='alert alert-info'>Your comment has been noted</p>
        <div class="form-floating my-3">
            <textarea id="comment" paceholder="Write Here" class="form-control form-control-lg" style="background-color:rgba(0, 0,0, 0.5);border: 1px solid #a8c868; color:#fff;"></textarea>
            <input type="hidden" id="csrf_token" value={{csrf_token()}}>
        </div>
          <div>  <button id="btn" class="btn btn-lg color3 d-inline-block" style="border:2px solid #a8c868;">upload</button>
        </div>
   
{% endblock %}
{% block custom_scripts %}
<script type="text/javascript">
$(document).ready(function(){
    $('#now').hide()
    $('#btn').click(function(){
      var content= $('#comment').val()
      var csrf =$('#csrf_token').val()
        data2send={"suggestion":content,"csrf_token":csrf}//"suggestion=" + content(for sending as avascript obj)
      //'suggestion='+content+address=Lagos(FOR sending as query srting) or appending to url
        //make ajax call to the route and send the data over
        $.ajax({ 
            url:"/send/forum",
            data:data2send,
            type:"get",
            dataType:'text',
            beforeSend:function(server_response){
                $('#now').html('')
                if ($('#comment').val() =='')
                {
                    return false;
                    
                }
                else{
                    $('loader').html('<img src="/static/images/">')
                    $('#btn').html('please wait...')
                }
            },
            success:function(server_response){
                $('#loader').html('<img src="/static/images/">'); $('#btn').html('Send')
                $('#comment').val('')
                $('#now').show()
                $('#now').html(server_response)

            },
            error:function(errormsg){
                $('#loader').html('<img src="/static/images/">'); $('#btn').html('Send')
                console.log(errormsg)
            }
        })
    })
})
</script>
{% endblock %}