<!doctype html>
<html>
<head>
<title></title>
<meta charset= "UTF-8">
<meta name= "viewport" content= "width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='libraries/bootstrap/css/bootstrap.css')}}">
<style type= "text/css">
	.area{ min-height: 100vh; background-color: #05003D; }
	.login_box{ background-color: #EDEBFF; }
</style>

</head>

<body>
<div class= "container-fluid">
	<div class= "row area">
		<div class= "col align-self-center">
			<div class= "row justify-content-center">
				<div class= "col-4 login_box rounded py-3 py-xxl-4">
					<h3 class= "text-center">ADMIN LOGIN</h3>
					<form action= "" method= "post">
						<div class= "mb-3">
							<label class= "form-label">Username</label>
							<input type= "text" name= "username" class= "form-control">
						</div>
						<div class= "mb-3">
							<label class= "form-label">Password</label>
							<input type= "password" name= "pswd" class= "form-control">
						</div>
						<div class= "mb-2 text-center">
							<button class= "btn btn-primary">Login</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- JS Files -->
<script type= "text/javascript" src= "{{url_for('static', filename='libraries/jquery.js')}}"></script>
<script type= "text/javascript" src= "{{url_for('static', filename='libraries/bootstrap/js/bootstrap.bundle.js')}}"></script>
</body>
</html>


